<!DOCTYPE html>
<html>
  <%- include('../views/partials/head'); %>
  <body>
    <%- include('../views/partials/header'); %>
    
    <div class="container pb-4">
      <h1 class="my-4 text-center">Create new post</h1>
      <div class="row">
        <div class="col">
          <div class="card mb-4">
            <div class="card-body">
              <form
                class=""
                action="/admin/create"
                method="post"
                data-parsley-validate
              >
                <div class="form-group">
                  <h5>
                    <label for="title">Title</label>
                  </h5>
                  <input
                    type="text"
                    name="title"
                    value=""
                    placeholder="Enter the title..."
                    class="form-control"
                    required="true"
                    data-parsley-minlength="6"
                  />
                </div>
                <h5>
                  <label for="content">Content</label>
                </h5>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                    type="text"
                    name="content"
                    value=""
                    required="true"
                    style="height: 96px"
                    data-parsley-minlength="20"
                  ></textarea>
                </div>
                <div class="form-group">
                  <h5>
                    <label for="title">Image URL</label>
                  </h5>
                  <input
                    type="url"
                    data-parsley-type="url"
                    name="image"
                    value=""
                    placeholder="Enter the image url..."
                    class="form-control"
                    required="true"
                  />
                </div>
                <button
                  type="submit"
                  name="button"
                  class="btn btn-success mt-1"
                  value="Upload"
                >
                  Save
                </button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <hr />
        </div>
      </div>
    </div>

    <%-include('../views/partials/footer'); %>
    <%-include('../views/partials/scripts'); %>
  </body>
</html>